.container{
    margin-bottom: 100px;
}

header{
    margin-top: 20px;
    margin-bottom: 10px !important;
}
.curousel-section{
    background-image: url(../images/bg-2.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 100px 100px;
    height: 500px;
}

.custom-bg{
    background-image: url(../images/bg-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.btn{
    background-color: #000;
}

.carousel-indicators .color{
    background: #CECECE;
    width: 10px;
    height: 3px;
}
.carousel-indicators .active{
    background: linear-gradient(to right,  #ffb12a 0%,#ffd019 100%);
    width: 30px !important;
    height: 3px !important;
}